ion-card {
  margin: 10px;
  border-radius: 8px;
}

ion-card-header {
  display: flex;
  justify-content: space-between;
}

ion-button {
  margin: 5px;
}


.completed {
  border-left: 5px solid #28a745;
  background-color: #9ff8b4;
}

.pending {
  border-left: 5px solid #ffc107;
  background-color: #ffecb5;
}
