<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TASKS MANAGER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-margin">
    <ion-select
      label="Categoría *"
      label-placement="floating"
      fill="outline"
      placeholder="Seleccione una opción"
      errorText="Campo obligatorio"
      (ionChange)="filterByCategory($event)"
      [(ngModel)]="selectedCategory"
    >
      <ion-select-option [value]="0">All</ion-select-option>
      @for(category of categories(); track category.id){
        <ion-select-option [value]="category.id"
          >{{category.name}}</ion-select-option
        >
      }
    </ion-select>
  </div>
  <ion-segment value="all" (ionChange)="filterTasks($event)">
    <ion-segment-button value="all">All</ion-segment-button>
    <ion-segment-button value="done">Done</ion-segment-button>
    <ion-segment-button value="pending">Pending</ion-segment-button>
  </ion-segment>

  <ion-list>
    @for(task of filteredTasks; track task.id){
      <app-card [category]="task.category_name!" [task]="task" [title]="task.name"/>
    }
  </ion-list>

  @if(isFeatureEnabled){
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="openModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  }

  @if(showModal){
    <ion-modal [isOpen]="showModal" (ionModalDidDismiss)="closePreview()">
      <ng-template>
        <ion-content>
          <ion-toolbar>
            <ion-title class="ion-margin">Add Task</ion-title>
            <ion-buttons slot="end">
              <ion-button color="light" (click)="closePreview()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
          <form>
            <section class="ion-padding-horizontal ion-padding-top">
              <div class="ion-margin-bottom">
                <ion-input
                  label="Nombre *"
                  label-placement="floating"
                  fill="outline"
                  type="text"
                  class="ion-margin-bottom"
                  [(ngModel)]="taskName"
                  errorText="Campo obligatorio"
                ></ion-input>
                <ion-select
                  label="Categoría *"
                  [(ngModel)]="taskCategory"
                  label-placement="floating"
                  fill="outline"
                  placeholder="Seleccione una opción"
                  errorText="Campo obligatorio"
                >
                  @for(category of categories(); track category.id){
                    <ion-select-option [value]="category.id"
                      >{{category.name}}</ion-select-option
                    >
                  }
                </ion-select>
              </div>
            </section>

            <div class="btn-container">
              <ion-button
                type="submit"
                expand="block"
                (click)="addTask()"
              >
                Save
              </ion-button>
            </div>

          </form>
        </ion-content>
      </ng-template>
    </ion-modal>
  }
</ion-content>
