.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.table-container {
  height: auto;
  max-height: 75vh;
  overflow-y: auto;
  width: 100%; /* Asegura que la tabla ocupe todo el ancho del contenedor */
}

table {
  width: 100%; /* Asegura que la tabla ocupe todo el ancho del contenedor */
  border-collapse: collapse; /* Elimina los espacios entre las celdas */
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 1.1rem;
}

th {
  background-color: #e9e9e9;
  position: sticky;
  top: 0;
  z-index: 1;
  font-size: 1.2rem;
}

ion-modal {
  --height: 25%;
  --width: 90%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: var(--ion-color-primary);
  --color: white;
}
